{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #abd3cc;
    }
</style>

<h1 style="color: #00a99d; font-size: 34px;">Selamat Datang di Yosheluxe</h1>
<p>Elegance and Perfections Bags, Elevating Your Everyday.</p>
<hr style="border: 2px solid #00a99d">
<p>By: Yoshelin | PBP B | 2206826702</p>
<hr style="border: 1px solid #00a99d">
<p></p>
<h5> Nama: </h5>
<p>{{ name }}</p>

<h5> Kelas: </h5>
<p>{{ class }}</p>

<h5> Produk: </h5>
<p>{{ item }}</p>

<p>Kamu telah menyimpan {{ items|length }} item pada aplikasi ini.</p>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 3px solid #00a99d;
        text-align: left;
        padding: 10px;
    }

    th {
        background-color: #00a99d;
    }

    /* Added styles for buttons within the table */
    .action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action-buttons a {
        margin: 2px 0;
    }
</style>

<table id="product_table">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</table>

<br />


<a href="{% url 'main:create_product' %}">
    <button class="kustom">Add New Item</button>
</a>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<style>
    h5 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
</style>

<style>
    .kustom {
        background-color: #00a99d; 
        color: #FFFFFF; 
        padding: 12px 15px;
        border: none;
        border-radius: 15px;
        font-size: 16px; 
        /* cursor: pointer; */
    }
</style>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

document.getElementById("button_add").onclick = addProduct
</script>


{% endblock content %}
